{% extends 'shop/mails/base.html' %}
{% load mathfilters %}
{% block content %}
  <h2>订单号#{{ order.pk }}</h2>
  <p>
    您的订单已支付成功，简要信息如下：
  </p>
  <ol>
    {% for item in order.items.all %}
      <li>{{ item.product.brand.name }} {{ item.product.name }} x1</li>
    {% endfor %}
  </ol>
  <p>
    总计：${{ order.total_price }}<br>
    折扣：${{ order.discount_amount }}<br>
    实际支付：${{ order.paid_amount }}
  </p>
  {% if payment and payment.billing_address %}
    {% with address=payment.billing_address %}
      <p>
        账单地址：<br>
        {{ address.fullname }}<br>
        {{ address.street_address }}<br>
        {{ address.city }}, {{ address.province }} {{ address.zip_code }}<br>
        {{ address.country }}<br>
        电话号码：{{ address.phone_number }}
      </p>
    {% endwith %}
  {% endif %}
  {% with address=order.shipping_address %}
    <p>
      收货地址：<br>
      {{ address.fullname }}<br>
      {{ address.street_address }}<br>
      {{ address.city }}, {{ address.province }} {{ address.zip_code }}<br>
      {{ address.country }}<br>
      电话号码：{{ address.phone_number }}
    </p>
  {% endwith %}
  <p>
    我们将尽快为您发货，发货后您会收到邮件提醒，此外，您还可以前往<a href="https://www.milove.com/account/orders/{{ order.pk }}/"
  >此处</a
  >查看订单详情。如果上面的收货地址有误，请及时联系我们的客服微信进行修改，以便商品正确送达。
  </p>
{% endblock %}